
<div class="footnov" id="myFootnav" style="position: {% block footer%}{% endblock %}; bottom: 0; width: 100%;">
    <a href="" >Follow me : </a>

    <a href="https://www.facebook.com/indraneel.dutta.03/" style="background: #3B5998; color: white;" class="fa fa-facebook"></a>
    <a href="https://github.com/meneel" style="background: black; color: white;" class="fa fa-github"></a>
    <a href="https://www.linkedin.com/in/meneel/" style="background: #007bb5; color: white;" class="fa fa-linkedin"></a>
  </div>
  
  